:root{
    --main : #000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
    
}

body{
    overflow-x: hidden;
}


header{
    min-width: 100vw;
    overflow-x: hidden;
}

#nav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background: #000;
    color: #fff;
    align-items: center;
}



#links{
    display: flex;
    list-style: none;
    gap: 15px;
    
}



#links li a{
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

#name{
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;

}

.main{
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
    
}

.details h1{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-size: 40px;
}

.details p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #514b4b;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
}

.download-cv{
    height: 40px;
    width: 180px;
    background: var(--main);
    text-decoration: none;
    color: #252323;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.image img{
    height: 300px;
    width: 500px;
}

.projects{
    min-height: 100vh;
    overflow-x: hidden;
    /* background: aqua; */
}

.project-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2 , 50vh);
}

.project-cards{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    padding: 30px;
    /* border: 2px solid salmon; */
    background: rgb(15, 19, 86);
    border-radius: 8px;
    color: #fff;
    /* backdrop-filter: blur(10px); */
}

.project-cards:hover{
    /* transform: scale(1.1);
    transition: all 0.2s ease-in-out; */
    transform: translateY(-5px);
}


.title{
    text-align: center;
}


.project-tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.tags{
    height: 1.3rem;
    width: 3.5rem;
    text-align: center;
    margin: 1rem 0.8rem ;
    border-radius: 2rem;
    background: linear-gradient(45deg , rgb(103, 89, 211) );
    font-size: small;
    font-weight: 600;
}

.contact-section{
    min-height: 100vh;
    overflow-x: hidden;
    /* background: #4e4e; */
    
}

.contact-title{
    text-align: center;
    
}

.form-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-form{
    padding: 0.5rem;
    min-width: 50vw;
    background: rgb(15, 19, 86);
    min-height: 50vh;
    border-radius: 10px;
    color: #fff;
    box-shadow: 10px 10px 10px #000;
    backdrop-filter: blur(10px);
}

.form-group{
    margin: 30px;
    
}

.form-control{
    outline: 1px solid #3a1f92;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    min-height: 2rem;
    margin: 10px 0;
}

.form-group label{
    font-weight: 700;
    
}

.submit{
    text-align: center;
}


.btn{
    background: linear-gradient(45deg , rgb(103, 89, 211) );
    height: 30px;
    min-width: 150px;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
}

@media (max-width : 1024px){
    
    .project-card-container{
        grid-template-columns: 1fr;
    }
    .main{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

    }

    .image{
        align-items: flex-start;
    }

    
}
